:root {
  --color-primary: #fff;
  --color-secondary: #27AE60;
  --color-white: #454e56;
  --color-black: #000;
  --color-gray0: #f8f8f8;
  --color-gray1: #6c7983;
  --color-gray2: #6c7983;
  --color-gray3: #6c7983;
  --color-gray4: #454e56;
  --color-gray5: #f8f8f8;
  --color-gray6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 25px rgba(0, 0, 0, .2);
}

.light-mode {
  --color-primary: #191d2b;
  --color-secondary: blue;
  --color-white: #fff;
  --color-black: #000;
  --color-gray0: #f8f8f8;
  --color-gray1: #dbe1e8;
  --color-gray2: #b2becd;
  --color-gray3: #6c7983;
  --color-gray4: #454e56;
  --color-gray5: #2a2e35;
  --color-gray6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 25px rgba(0, 0, 0, .2);
}

body {
  background-color: var(--color-primary);
  font-family: "Roboto" sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 1200px;
  padding: 3rem 5rem;
  margin: 0 auto;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  animation: scaleAnim 1s ease-in-out;
}
@keyframes scaleAnim {
  0% {
    transform: translateX(-100%) scaleX(0);
  }
  100% {
    transform: translateX(0) scaleX(1);
  }
}

.controlls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controlls .active-btn {
  background-color: var(--color-secondary) !important;
  transition: all 0.4s ease-in-out;
}
.controlls .active-btn i {
  color: var(--color-white) !important;
}
.controlls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-gray4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
}
.controlls .control i {
  font-size: 1.2rem;
  color: var(--color-gray2);
  pointer-events: none;
}

.theme-btn {
  position: fixed;
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  background-color: var(--color-gray4);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-gray2);
  pointer-events: none;
}

.header-content {
  display: block;
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  font-size: 1.3rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.about-container .right-about {
  margin-left: 8rem;
}
.about-container .right-about h4 {
  text-transform: uppercase;
  font-size: 2rem;
}
.about-container .right-about span {
  margin-top: 1rem;
  max-width: 400px;
  color: var(--color-gray1);
  font-size: 15px;
}
.about-container .right-about .skills {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}
.about-container .left-about p {
  line-height: 1.6rem;
  padding: 1rem 0;
  color: var(--color-gray1);
  font-size: 16px;
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-container .left-about .second-p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.4rem;
  margin-left: 4rem;
  line-height: 1.4rem;
}
.about-container .left-about .second-p span {
  margin-right: 10rem;
}

.stat-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
}
.stat-title::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  left: 50%;
  top: 0;
  background-color: var(--color-gray5);
  transform: translateX(-50%);
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
}
.timeline .timeline-item {
  position: relative;
  padding-left: 3rem;
  padding-bottom: 2rem;
  border-left: 1px solid var(--color-gray5);
}
.timeline .timeline-item ul {
  list-style: none;
  color: var(--color-gray2);
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 450px;
}
.timeline .timeline-item .tl-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline-item .tl-icon i {
  font-size: 1.3rem;
}
.timeline .timeline-item .tl-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-gray5);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  font-weight-margin-bottom: 1rem;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-gray2);
  font-weight: 500;
  font-size: 1.2rem;
  padding-bottom: 0;
}
.timeline .timeline-item p {
  color: var(--color-gray2);
  margin-top: 0.5rem;
  line-height: 1.5;
  max-width: 450px;
}

.port-content {
  text-align: center;
  padding: 2rem 0;
  color: var(--color-secondary);
  font-size: 2rem;
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
  border-radius: 15px;
}
.portfolios .portfolio-item img {
  width: 100%;
  max-width: 33rem;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items span {
  margin-bottom: 0.6rem;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.contact-content-con {
  display: flex;
  padding: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-gray5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 1rem 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-gray5);
  width: 100;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

.submit-contact {
  background: transparent;
  margin: 1.3rem;
  padding: 0.8rem 1.8rem;
  border: 1px solid var(--color-secondary);
  color: var(--color-white);
  font-size: 1.2rem;
}
.submit-contact:hover {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}

.communicate {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-white);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
  z-index: -1;
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-gray5);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6rem;
}

@media screen and (max-width: 799px) {
  section {
    min-height: 100vh;
    max-width: 100%;
    padding: 2rem 1rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0.8rem !important;
  }
  .theme-btn {
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .right-header {
    grid-row: 1;
    width: 100%;
    margin-left: 0;
  }
  .right-header .name {
    font-size: 2.5rem !important;
  }
  .right-header p {
    line-height: 1rem;
    font-size: 0.8rem;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateX(100px);
    width: 90%;
    padding-top: 2rem;
    margin-left: 0;
  }
  .about-container .left-about p {
    padding: 1rem;
    text-align: left;
  }
  .about-container .left-about h4 {
    text-align: center;
    font-size: 1.6rem;
  }
  .about-container .left-about .second-p {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1rem;
    margin-left: 0;
    line-height: 1.4rem;
  }
  .about-container .left-about .second-p span {
    margin-right: 0;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .timeline .timeline-item {
    padding: 1rem;
  }
  .about-stats {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(100px);
  }
  .about-stats .progress-bars {
    grid-template-columns: 1fr;
  }
  .portfolios {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding-bottom: 4rem;
  }
  .portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
  }
  .portfolios .portfolio-item img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .contact-content-con {
    flex-direction: column;
    padding: 1.5rem;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
    display: block;
    align-items: center;
    justify-content: space-between;
  }
  .contact-content-con .right-contact .i-c-2 {
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .main-title h2 {
    font-size: 1.7rem;
  }
  .main-title h2 span {
    font-size: 2.5rem;
  }
  .main-title h2 .bg-text {
    font-size: 1.5rem;
  }
  .controlls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-gray5);
  }
  .controlls .control {
    margin: 1rem 0.3rem;
  }
  .port-content {
    text-align: center;
  }
  .port-text {
    text-align: center;
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */